@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
/*.logo{
    color:#000;
    font-weight: bold;
    margin-left: 110px;
}*/
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    scroll-behavior: smooths;
}
a{
    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
}

img {
    width: 60%;
}

.navbar{
    min-height: 70px;
    width: 91%;
    max-width: 1120px;
     margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-branding{
    font-size: 2rem;
    font-weight: bold;
}
.nav-link{
    transition: 0.7s ease;
    font-weight: bold;
}
.nav-link:hover{
    color: #0056b3;
    
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

header{
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.09);
    position: sticky;
    top: 0;
    z-index: 1000;
}


.projects-img{
    width: 50%;
    margin-right: 100px;
}


.hero-content{
    margin-top: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.027);
    margin-bottom: 20px;
}

.hero-flex{
    display: flex;
    justify-content: space-between;
    height: 70vh;
    align-items: center;
    text-align: left;
}
.greeting{
    margin-left: 7px;
    font-weight: 600;
}
.title{
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1;
    margin: 0 0 20px 0;
    color: black;
}
.highlight{
    color: #007bff;
}

.profile-image{
    width: 350px;
    margin-top: 20px;
    border-radius: 50%;
}


.btn{
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;  
}

.hero-btns{
    margin-top: 10px;
}
.btn-project1{
    display: inline-block;
    padding: 8px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.hero-btns .btn-project{
    display: inline-block;
    padding: 8px;
    text-align: center;
    border: 1px solid #007bff;
    color:rgb(82, 78, 78);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover{
    background: #0056b3;
}

/* Section*/
section{
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1rem;
}
section h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
/* fade & slide animations*/
@keyframes slideInleft {
    from{ opacity: 0; transform:translateX(-50px); }
    to { opacity: 1; transform: translateX(0); }
}

/* fade & slide animations*/
/* @keyframes slideInRight {
    from{ opacity: 0; transform:translateX(50px); }
    to { opacity: 1; transform: translateX(0); }
}

section:nth-child(odd){
    animation: slideInLeft 1s ease forwards;
}

section:nth-child(even){
    animation: slideInRight 1s ease forwards;
}

section:nth-child(1)
{animation-delay: 0.2s;}
section:nth-child(2)
{animation-delay: 0.4s;}
section:nth-child(3)
{animation-delay: 0.6s;}
section:nth-child(4)
{animation-delay: 0.8s;}
*/
#about{
    align-items: center;
    text-align: center;
    height: 90vh;
    border-radius: 8px;
    color: black;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.03);
    text-align: center;
    background-color: darkgrey;
}

.about-section{
    max-width: 1100px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #fff;
    padding:30px;
    border-radius: 16px;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.2); */

}

/* @media (max-width: 1200px) { 
    .about-section img {
        display: none;
    }
}*/
@media (max-width: 1400px) {
    .about-section img {
        display: none;
    }
}

.about-section img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.about-content h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.about-content p {
    font-size: 16px;
    color: #555;
    line-height:  1.5;
    margin-bottom: 20px;
}

.about-highlights {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.highlight-box {
    background: #f0f0f0;
    padding: 16px;
    border-radius: 12px;
    flex: 1;
    text-align: center;
}
.highlight-box h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #333;
}
.highlight-box span {
    color: #666;
    font-size: 14px;
}

/* skills*/
#skills{
    box-shadow: 0 4px 6px rgba(0,0,0,0.03);
}
#skills ul{
    display: flex;
    gap: 3rem;
    justify-content: center;
    list-style: none;
}
.skills-image{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

#skills ul li{
    background: #f0f0f0;
    color: #333;
    padding: 16px;
    background: transparent;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(97, 38, 38, 0.05);
}

.project{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    background: white;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.projects-img{
    width: 200px;
    border-radius: 5px;
    transition: transform 0.4s ease;
}

.project img:hover{
    transform: scale(1.1);
}

.project h3{
    margin-bottom: 0.5rem;
}

/*contact form*/

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: auto;
}

form input, form textarea{
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: inherit;
}

form button{
    background: #007bff;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}
form button:hover{
    background: #0056b3;
    transform: scale(01.05);
}

/*footer*/

footer{
    text-align: center;
    padding: 1rem;
    background:#007bff;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: white;
    padding: 15px 0;
}


/*Responsive Design*/

@media (max-width: 600px) {
    .nav-menu .nav-link:hover{
    background: #9a9b9c0b;
    padding: 8px 300px;
}
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
       position: fixed;
       left: -100%;
       top: 70px;
       gap: 0;
       flex-direction: column;
       background-color: rgba(255, 255, 255, 0.5);
       width: 100%;
       text-align: center;
       transition: 0.3s; 
       backdrop-filter: blur(20px) ;   
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .hero-flex{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        margin-bottom: 100px;
        align-items: center;
        margin-top: 35px;
    }
    .hero-content{
        height: 100vh;
        margin-bottom: 20px;
    }
    .profile-image{
        margin-bottom: 30px;
        height: 300px;
        width: 300px;
        display: none;
    }
    

     #skills .skills-image {
        padding: 5px;
        align-items: center;
     }
     #skills ul li img {
        width: 40px;
        height: 40px;
        align-items: center;
        flex-wrap: wrap;
     }
     #skills ul li {
        padding: 5px;
     }
    .skills-image {
        width: 45px;
        height: 45px;
        display: flex;

        justify-content: center;
    }
     #skills h2 {
        display: flex;
        text-align: center;
        flex-direction: column;
     }
     #skills h2 {
        text-align: center;
     }
    .about-section img {
        display: block;
        width: 300px;
        padding: 20px;
        margin-left: -5px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .about-highlights {
        display: flex;
        flex-direction: column;
    }

    .hero{
        display: flex;
       text-align: center;
       flex-direction: column;
    }
    .hero img{
        width: 300px;
    }

    .hero-content{
        align-items: center;
        height: 90vh;
    }
    
    .project{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .project h3 {
        padding: 10px;
    }

    .project p {
        padding: 10px;
    }
    .btn {
        text-align: center;
        width: 150px;
        height: 40px;
        font-size: 18px;
        margin-left: 10px;
        line-height: 1;

    }
    .btn:hover {
        background-color: #0056b3;
        color: white;
        transition: .3s ease-in-out;
    }
    .hero-btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .btn-project1 {
        font-size: 14px;
    }
    .hero-btns .btn-project {
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }
    .projects-img {
        padding: 10px;
    }

    .greeting-container h1 {
        padding: 10px;
        font-size: 60px;
    }
    .greeting-container p {
        padding: 10px;
        margin-top: 2px;
    }
     
    #about{
        min-height: 60vh;
        text-align: center;
    }
    .about-content img {
        border-radius: 50%;
        width: 90%;
    }

    

    }


